@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.sarabun-thin {
    font-family: "Sarabun", serif;
    font-weight: 100 !important;
    font-style: normal;
}

.sarabun-extralight {
    font-family: "Sarabun", serif;
    font-weight: 200 !important;
    font-style: normal;
}

.sarabun-light {
    font-family: "Sarabun", serif;
    font-weight: 300 !important;
    font-style: normal;
}

.sarabun-regular {
    font-family: "Sarabun", serif;
    font-weight: 400 !important;
    font-style: normal;
}

.sarabun-medium {
    font-family: "Sarabun", serif;
    font-weight: 500 !important;
    font-style: normal;
}

.sarabun-semibold {
    font-family: "Sarabun", serif;
    font-weight: 600 !important;
    font-style: normal;
}

.sarabun-bold {
    font-family: "Sarabun", serif;
    font-weight: 700 !important;
    font-style: normal;
}

.sarabun-extrabold {
    font-family: "Sarabun", serif;
    font-weight: 800 !important;
    font-style: normal;
}

.sarabun-thin-italic {
    font-family: "Sarabun", serif;
    font-weight: 100 !important;
    font-style: italic;
}

.sarabun-extralight-italic {
    font-family: "Sarabun", serif;
    font-weight: 200 !important;
    font-style: italic;
}

.sarabun-light-italic {
    font-family: "Sarabun", serif;
    font-weight: 300 !important;
    font-style: italic;
}

.sarabun-regular-italic {
    font-family: "Sarabun", serif;
    font-weight: 400 !important;
    font-style: italic;
}

.sarabun-medium-italic {
    font-family: "Sarabun", serif;
    font-weight: 500 !important;
    font-style: italic;
}

.sarabun-semibold-italic {
    font-family: "Sarabun", serif;
    font-weight: 600 !important;
    font-style: italic;
}

.sarabun-bold-italic {
    font-family: "Sarabun", serif;
    font-weight: 700 !important;
    font-style: italic;
}

.sarabun-extrabold-italic {
    font-family: "Sarabun", serif;
    font-weight: 800 !important;
    font-style: italic;
}