.form-signin {
    max-width: 420px;
    margin: auto;
    margin-top: 5rem;

    .h3 {
        font-size: 1.5rem;
        color: var(--gray-dark);
    }

    .img-fluid {
        transition: all .3s ease;

        &:hover {
            transform: scale(.95);
        }
    }

    .text-muted {
        font-size: .9rem;
        color: var(--gray);
    }

    .form-label-group {
        position: relative;

        & > input {
            height: 3.125rem;
            padding: .75rem 3rem .75rem 3rem;
        }

        & > i {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            color: var(--gray);
            font-size: 1.2rem;
        }

        & > span {
            position: absolute;
            top: 50%;
            right: 1rem;
            width: 1.5rem;
            text-align: center;
            transform: translateY(-50%);
            color: var(--gray);
            font-size: 1.2rem;
            transition: all .3s ease;

            &:hover {
                cursor: pointer;
                color: var(--yellow);
            }
        }
    }

    & > a {
        color: var(--gray);
        font-size: .9rem;
        transition: all .3s ease;
    
        &:hover {
            color: var(--yellow) !important;
        }
    }
}