.news {
	.grid-container {
	    display: grid;
	    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
	    gap: 16px;
	}

	.grid-item {
	    display: flex;
	    flex-direction: column;
	    background-color: #f8f9fa;
	    border: 1px solid #dee2e6;
	    border-radius: 8px;
	    transition: all .3s;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

	        .img-container {
	            height: 200px;
	            overflow: hidden;
	            display: flex;
	            align-items: center;
	            justify-content: center;
	            background-color: #e9ecef;
		    	border-radius: 6px;
	            
	            & > img {
					width: 100%;
					height: 100%;
				}
	        }
	        .card-news_id {
                font-size: 1rem;
                font-weight: 600;
                text-align: left;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .card-title {
                font-size: 1rem;
                font-weight: 600;
                text-align: left;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                min-height: 3rem;
            }

            .card-text {
                font-size: 0.9rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;

                &::-webkit-scrollbar {
                    width: 0;
                }
            }
        }

        &:hover {
            transform: translateY(-7px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
	}
}

.news-view,
.news-edit {
	.img-container {
		width: 200px !important;
	    height: 200px;
	    overflow: hidden;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background-color: #e9ecef;
		border-radius: 6px;
	    
	    & > img {
			width: 100%;
			height: 100%;
            object-fit: cover;
		}
	}
}